

html {
	background-color: #000000;
}

body.interface {
	font-family: verdana, helvetica, arial, sans-serif;
	font: x-small sans-serif;
	background-color: #262626;
	color: white;
	margin: 0;
	padding: 0;

	padding-top: 90px;

	background-image: url(ufoai.png);
	background-repeat: no-repeat;
	background-position:left top;
	/*font-size: 10px;*/
	font-weight: bold;
}

.content {
	margin-left: 30px;
	margin-right: 30px;
}

hr {
	color: #FFD800;
	background-color: #FFD800;
	height: 0.5em;
	border: 0px solid;
}

a:link,a:visited,a:active {
	color: #FFD800;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

table {
	border-spacing: 1px 1px;
}

table td {
	padding: 3px 2px 3px 2px;
	text-align: center;
}

.Project {
	min-width: 6em;
}

.LastBuild,.Activity {
	padding: 0 0 0 4px;
}

.LastBuild,.Activity,.Builder,.BuildStep {
	width: 15em;
	min-width: 15em;
}

/* Chromium Specific styles */
div.BuildResultInfo {
	color: #444;
}

div.Announcement {
	margin-bottom: 1em;
}

div.Announcement>a:hover {
	color: black;
}

div.Announcement>div.Notice {
	background-color: #afdaff;
	padding: 0.5em;
	font-size: 16px;
	text-align: center;
}

div.Announcement>div.Open {
	border: 3px solid #8fdf5f;
	padding: 0.5em;
	font-size: 16px;
	text-align: center;
}

div.Announcement>div.Closed {
	border: 5px solid #e98080;
	padding: 0.5em;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

td.Time {
	color: #FFFFFF;
	border-bottom: 1px solid #aaa;
	background-color: #000000;
}

td.Activity,td.Change,td.Builder {
	color: #FFFFFF;
	background-color: #000000;
}

td.Change {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	vertical-align: middle;
	padding: 0.5em;
}

td.Event {
	color: #777;
	background-color: #ddd;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

td.Activity {
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	min-height: 20px;
	padding: 2px 0 2px 0;
}

td.idle,td.waiting,td.offline,td.building {
	border-top-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
}

.LastBuild {
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
}

/* Console view styles */
td.DevRev {
	padding: 4px 8px 4px 8px;
	color: #333333;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	background-color: #eee;
	width: 1%;
}

td.DevRevCollapse {
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
}

td.DevName {
	padding: 4px 8px 4px 8px;
	color: #333333;
	background-color: #eee;
	width: 1%;
	text-align: left;
}

td.DevStatus {
	padding: 4px 4px 4px 4px;
	color: #333333;
	background-color: #eee;
}

td.DevSlave {
	padding: 4px 4px 4px 4px;
	color: #333333;
	background-color: #eee;
}

td.first {
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
}

td.last {
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
}

td.DevStatusCategory {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-width: 1px;
	border-style: solid;
}

td.DevStatusCollapse {
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
}

td.DevDetails {
	font-weight: normal;
	padding: 8px 8px 8px 8px;
	color: #333333;
	background-color: #eee;
	text-align: left;
}

td.DevComment {
	font-weight: normal;
	padding: 8px 8px 8px 8px;
	color: #333333;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	background-color: #eee;
	text-align: left;
}

td.Alt {
	background-color: #ddd;
}

.legend {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 100px;
	max-width: 100px;
	text-align: center;
	padding: 2px 2px 2px 2px;
	height: 14px;
	white-space: nowrap;
}

.DevStatusBox {
	text-align: center;
	height: 20px;
	padding: 0 2px;
	line-height: 0;
	white-space: nowrap;
}

.DevStatusBox a {
	opacity: 0.85;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	display: block;
	width: 90%;
	height: 20px;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
}

.DevSlaveBox {
	text-align: center;
	height: 10px;
	padding: 0 2px;
	line-height: 0;
	white-space: nowrap;
}

.DevSlaveBox a {
	opacity: 0.85;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	display: block;
	width: 90%;
	height: 10px;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
}

a.noround {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	position: relative;
	margin-top: -8px;
	margin-bottom: -8px;
	height: 36px;
	border-top-width: 0;
	border-bottom-width: 0;
}

a.begin {
	border-top-width: 1px;
	position: relative;
	margin-top: 0px;
	margin-bottom: -7px;
	height: 27px;
	border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
}

a.end {
	border-bottom-width: 1px;
	position: relative;
	margin-top: -7px;
	margin-bottom: 0px;
	height: 27px;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
}

.center_align {
	text-align: center;
}

.right_align {
	text-align: right;
}

.left_align {
	text-align: left;
}

div.BuildWaterfall {
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #FFFFFF;
	padding: 4px 4px 4px 4px;
	float: left;
	display: none;
	border-width: 1px;
	border-style: solid;
}

/* LastBuild, BuildStep states */

.build, .LastBuild {
	background-color: #808080;
}

tr.LastBuild {
	background-color: transparent;
}

.success {
	color: #FFFFFF;
	background-color: #4A4;
	border-color: #4F8530;
}

.failure {
	color: #FFFFFF;
	background-color: #C44;
	border-color: #A77272;
}

.warnings {
	color: #FFFFFF;
	background-color: #ffc343;
	border-color: #C29D46;
}

.exception {
	color: #FFFFFF;
	background-color: #f3f;
	border-color: #ACA0B3;
}

.start,.running,td.building {
	color: #FFFFFF;
	background-color: #000000;
	border-color: #C5C56D;
}

.retry {
	color: #FFFFFF;
	background-color: #808080;
	border-color: #C5C56D;
}

.offline,td.offline {
    color: #FFFFFF;
    background-color: #777777;
    border-color: #dddddd;
}


.start {
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
}

.notstarted {
	border-width: 1px;
	border-style: solid;
	border-color: #aaa;
    background-color: #fff;
}

.closed {
	background-color: #ff0000;
}

.closed .large {
	font-size: 1.5em;
	font-weight: bolder;
}

td.Project a:hover,td.start a:hover {
	color: #FFF;
}

.running {
	background-color: #808080;
	background-image: url(running.gif);
	background-repeat: repeat;
	background-position:left center;
}

.mini-box {
	text-align: center;
	height: 20px;
	padding: 0 2px;
	line-height: 0;
	white-space: nowrap;
}

.mini-box a {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	margin-top: -30px;
}

.mini-closed {
	-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid red;
}

/* grid styles */
table.Grid {
	border-spacing: 2px;
}

table.Grid tr td {
	padding: 0.2em;
	margin: 0px;
	text-align: center;
}

table.Grid tr td.title {
	font-size: 90%;
}

table.Grid tr td.sourcestamp {
	font-size: 90%;
}

table.Grid tr td.builder {
	text-align: right;
	font-size: 90%;
}

table.Grid tr td.build {
}

/* column container */
div.column {
	margin: 0 2em 2em 0;
	float: left;
}

/* info tables */
table.info {
	border-spacing: 2px;
}

table.info td {
	padding: 0.1em 1em 0.1em 1em;
	text-align: center;
}

table.info th {
	background-color: #000000;
	/*padding: 0.2em 1.5em 0.2em 1.5em;*/
	padding: 1em;
	text-align: center;
}

table.info td.left {
	text-align: left
}

table.info tr {
	background-color: #383838;
}

.alt, table.info tr.alt {
	background-color: #303030;
}

li {
	padding: 0.1em 1em 0.1em 1em;
}

.result {
	padding: 0.3em 1em 0.3em 1em;
}

/* log view */
.log * {
	vlink: #800080;
	font-family: "Courier New", courier, monotype;
}

span.stdout {
	color: white;
}

span.stderr {
	color: red;
}

span.header {
	color: green;
}

/* revision & email */
.revision .full {
	display: none;
}

.user .email {
	display: none;
}

/* change comments (use regular colors here) */
pre.comments>a:link,pre.comments>a:visited {
	color: grey;
}

pre.comments>a:active {
	color: purple;
}

div.header > a {
	padding: 0.2em;
}

.footer {
	background-color: #000000;
	padding: 2em;
	margin-top: 4em;
}

.footer hr {
	display:none;
}
