/*-Results.html
/*-Results.xml
/*.bz2
/*.dmg
/Makefile
/config.h
/config.log
/config.status
/debug-*/
/release-*/
/testall
/testall.exe
/ufo
/ufo.exe
/ufo2map
/ufo2map.exe
/ufoded
/ufoded.exe
/ufomodel
/ufomodel.exe
gmon.out
