*.dll
/*-Results.html
/*-Results.xml
/*.bz2
/*.dmg
/.cproject
/.project
/config.h
/config.mk
/debug-*/
/Makefile.local
/memory
/release-*/
/ufoslicer
/ufoslicer.exe
/testall
/testall.exe
/ufo
/ufo.exe
/ufo2map
/ufo2map.exe
/ufoded
/ufoded.exe
/ufomodel
/ufomodel.exe
gmon.out
/.settings
/doxygen.warnings
/ufosource.tag
/src/docs/doxygen/
*.pyc
/base/pics/banks/autogen*
/base/ufos/*_autogen.ufo
crashdump.txt
/src/po/ufoai.c1.po
/src/po/ufoai.c.po
/src/po/ufoai.ufo.po
*~
/src/docs/tex/ufo-manual_EN.log
/debian/*.log
/debian/ufoai-uforadiant
/stamps
eclipse/net.sourceforge.ufoai.dsl.tests/bin/
eclipse/net.sourceforge.ufoai.dsl.tests/src-gen/
eclipse/net.sourceforge.ufoai.dsl.ui/bin/
eclipse/net.sourceforge.ufoai.dsl.ui/plugin.xml
eclipse/net.sourceforge.ufoai.dsl.ui/src-gen/
eclipse/net.sourceforge.ufoai.dsl.ui/src/
eclipse/net.sourceforge.ufoai.dsl/.antlr-generator-3.2.0.jar
eclipse/net.sourceforge.ufoai.dsl/plugin.xml
eclipse/net.sourceforge.ufoai.dsl/src-gen/
eclipse/net.sourceforge.ufoai.dsl/src/net/sourceforge/ufoai/UFOScriptRuntimeModule.java
eclipse/net.sourceforge.ufoai.dsl/src/net/sourceforge/ufoai/UFOScriptStandaloneSetup.java
eclipse/net.sourceforge.ufoai.dsl/src/net/sourceforge/ufoai/formatting/
eclipse/net.sourceforge.ufoai.dsl/src/net/sourceforge/ufoai/generator/
eclipse/net.sourceforge.ufoai.dsl/src/net/sourceforge/ufoai/scoping/
eclipse/net.sourceforge.ufoai.dsl/src/net/sourceforge/ufoai/validation/
eclipse/net.sourceforge.ufoai.dsl/xtend-gen/
