#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

export DH_OPTIONS

CFLAGS = -Wall -g

# let's do debugging
export DEB_BUILD_OPTIONS=nostrip

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) -C linux
	#/usr/bin/docbook-to-man debian/ufoai.sgml > ufoai.1

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) -C linux clean
	rm -rf linux/debug*-glibc

	dh_clean 

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	dh_install
 # FIXME: dh_fixperms should handle that
	chmod +x debian/ufoai/usr/games/ufo

# No architecture-independent files here.
binary-indep:

# Build architecture-dependent files here.
binary-arch: DH_OPTIONS=-a
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	ln -s ../ufoai-data debian/ufoai/usr/share/doc/ufoai/docs
	dh_buildinfo
	dh_installexamples
#	dh_install
	dh_installmenu
#	dh_installdebconf	
#	dh_installman
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
