#!/usr/bin/make -f
# -*- makefile -*-
# Copyright 2004, 2006 Yann Dirson.
# Based on debhelper sample by Joey Hess.

export LC_ALL=C
vercmd=dpkg-parsechangelog | grep ^Version: | cut -c 10- | sed s/\\./\\./g

export DH_OPTIONS

CFLAGS = -Wall -g

# let's do debugging
export DEB_BUILD_OPTIONS=nostrip

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O4
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: 
	dh_testdir

	set -e; if [ -d .svn ]; then \
	  SRCVER=$(shell $(vercmd)) ;\
	  CURVER=`svn info|grep ^Revision:| cut -c11-` ;\
	  if [ -n "$$CURVER" ] ; then \
	    sed 1s/$$SRCVER/$${SRCVER%svn*}svn$$CURVER/ < debian/changelog > debian/cl2;\
	    mv debian/cl2 debian/changelog ;\
	  fi ;\
	fi


build: build-stamp
build-stamp: configure
	dh_testdir

#	$(MAKE) release BUILD_RELEASE_DIR=build
	$(MAKE) build_debug BUILD_DEBUG_DIR=build

	touch build-stamp

reset-version:
	set -e; if [ -d .svn ]; then \
	  SRCVER=$(shell $(vercmd)) ;\
	  sed 1s/$$SRCVER/$${SRCVER%svn*}svn/ < debian/changelog > debian/cl2;\
	  mv debian/cl2 debian/changelog ;\
	fi

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	-$(MAKE) clean BUILD_RELEASE_DIR=build
	rm -rf build

	$(MAKE) reset-version

	dh_clean 

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	dh_install
 # FIXME: dh_fixperms should handle that
	chmod +x debian/ufoai/usr/games/ufo

# No architecture-independent files here.
binary-indep:

# Build architecture-dependent files here.
binary-arch: DH_OPTIONS=-a
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	ln -s ../ufoai-data debian/ufoai/usr/share/doc/ufoai/docs
	dh_buildinfo
	dh_installexamples
#	dh_install
	dh_installmenu
#	dh_installdebconf	
#	dh_installman
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
