Source: ufoai-data
Section: games
Priority: optional
Maintainer: Yann Dirson <dirson@debian.org>
Build-Depends: debhelper (>= 4.0.0), ufoai-tools (>= 2.0~rc6)
Standards-Version: 3.7.2

Package: ufoai-data
Architecture: all
Depends: ${misc:Depends}, ttf-freefont, ttf-dejavu
Recommends: ufoai
Replaces: ufoai-data-maps
Conflicts: ufoai-data-maps
Description: UFO: Alien Invasion - data files
 "UFO: Alien Invasion" is a game inspired by the XCOM "UFO" series.
 .
 This package contains the maps, models, sound effects and other data
 files defining the UFO:AI game.

Package: ufoai-music
Architecture: all
Depends: ${misc:Depends}
Recommends: ufoai
Description: UFO: Alien Invasion - music tracks
 "UFO: Alien Invasion" is a game inspired by the XCOM "UFO" series.
 .
 This package contains the music tracks covered by a free license.
