Source: ufoai-data
Section: non-free/games
Priority: optional
Maintainer: Yann Dirson <dirson@debian.org>
Build-Depends: debhelper (>= 4.0.0), ufoai-tools (>= 0.0.svn2120)
Standards-Version: 3.6.1

Package: ufoai-data
Architecture: all
Depends: ${misc:Depends}, ttf-freefont, ttf-dejavu
Recommends: ufoai
Description: Data for UFO: Alien Invasion
 Maps, units, sound effects, etc.
