Source: ufoai
Section: contrib/games
Priority: optional
Maintainer: Yann Dirson <dirson@debian.org>
Build-Depends: debhelper (>= 4.0.0), dh-buildinfo, libx11-dev, libxext-dev, libjpeg-dev, libvorbis-dev, libglu1-mesa-dev, xlibmesa-gl-dev, libsdl-dev, libsdl-ttf2.0-dev, libarts1-dev, ncurses-dev
Standards-Version: 3.6.1

Package: ufoai
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ufoai-data (>= 2.2~~svn), ufoai-vid-glx | ufoai-vid, ufoai-snd-sdl | ufoai-snd
Suggests: ufoai-data-music, ufoai-vid, ufoai-snd
Description: UFO: Alien Invasion - build your team and stop the aliens
 "UFO: Alien Invasion" is a game inspired by the XCOM "UFO" series.
 .
 As manager of an international military force dedicated to stop the
 Alien Invasion, you prepare your soldiers and attack the aliens on
 various sites on the Earth.
 .
 The tactical part of the game uses OpenGL, and is based on the Quake2
 engine.  A multiplayer mode is also available.

Package: ufoai-vid-glx
Architecture: any
Provides: ufoai-vid
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UFO: Alien Invasion - GLX video module
 "UFO: Alien Invasion" is a game inspired by the XCOM "UFO" series.
 .
 UFO:AI comes with several video rendering engines. This is the
 default one, which uses GLX.  Note that not installing the default
 engine will require users to select an alternative manually.

Package: ufoai-vid-sdl
Architecture: any
Provides: ufoai-vid
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UFO: Alien Invasion - SDL video module
 "UFO: Alien Invasion" is a game inspired by the XCOM "UFO" series.
 .
 UFO:AI comes with several video rendering engines.  This is the
 an alternative one, which uses SDL.  Note that using an alternative
 engine requires manual configuration.

Package: ufoai-snd-sdl
Architecture: any
Provides: ufoai-snd
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UFO: Alien Invasion - SDL sound support
 "UFO: Alien Invasion" is a game inspired by the XCOM "UFO" series.
 .
 UFO:AI comes with support for several sound systems. This is the
 default sound-support package, which uses SDL.  Note that not
 installing the default engine will require users to select an
 alternative manually using "+set snd_ref <alternative>".

Package: ufoai-snd-alsa
Architecture: any
Provides: ufoai-snd
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UFO: Alien Invasion - ALSA sound support
 "UFO: Alien Invasion" is a game inspired by the XCOM "UFO" series.
 .
 UFO:AI comes with support for several sound systems.  This is an
 alternative sound-support package, which uses ALSA.  Note that using
 an alternative engine requires manual configuration.

Package: ufoai-snd-arts
Architecture: any
Provides: ufoai-snd
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UFO: Alien Invasion - ARTS sound support
 "UFO: Alien Invasion" is a game inspired by the XCOM "UFO" series.
 .
 UFO:AI comes with support for several sound systems.  This is an
 alternative sound-support package, which uses ARTS.  Note that using
 an alternative engine requires manual configuration.

Package: ufoai-snd-jack
Architecture: any
Provides: ufoai-snd
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UFO: Alien Invasion - JACK sound support
 "UFO: Alien Invasion" is a game inspired by the XCOM "UFO" series.
 .
 UFO:AI comes with support for several sound systems.  This is an
 alternative sound-support package, which uses JACK.  Note that using
 an alternative engine requires manual configuration.

Package: ufoai-snd-oss
Architecture: any
Provides: ufoai-snd
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UFO: Alien Invasion - OSS sound support
 "UFO: Alien Invasion" is a game inspired by the XCOM "UFO" series.
 .
 UFO:AI comes with support for several sound systems.  This is an
 alternative sound-support package, which uses OSS.  Note that using
 an alternative engine requires manual configuration.

Package: ufoai-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UFO: Alien Invasion - data-building tool
 "UFO: Alien Invasion" is a game inspired by the XCOM "UFO" series.
 .
 This package includes the map-building tool.

Package: ufoai-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: ufoai-data (>= 2.2~~svn)
Description: UFO: Alien Invasion - standalone game server
 "UFO: Alien Invasion" is a game inspired by the XCOM "UFO" series.
 .
 This package includes the standalone game server and the master
 server.  It is only needed if you want to setup a permanent game
 server.

Package: ufoai-data
Architecture: all
Depends: ${misc:Depends}, ttf-freefont, ttf-dejavu
Recommends: ufoai
Description: Data for UFO: Alien Invasion
 This package contains all the non-optional game data for UFO:AI:
 maps, models, units, sound effects, etc.

Package: ufoai-data-music
Architecture: all
Depends: ${misc:Depends}
Recommends: ufoai
Description: Data for UFO: Alien Invasion
 This package contains the music for UFO:AI.  It is recommended to
 fully experience the game, but not required.
