[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=UFO: Alien Invasion
GenericName=Strategy Game
Comment=Turn-based tactical combat against hostile alien forces
Exec=/usr/games/ufo
Icon=ufoai.xpm
Terminal=false
Type=Application
Categories=Application;Game;StrategyGame;
StartupNotify=true
