[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=UFO: AI Dedicated Server
GenericName=UFO: AI Dedicated Server
Comment=Turn-based tactical combat against hostile alien forces (server)
Comment[de_DE]=Rundenbasiertes Taktikspiel (Server)
Exec=/usr/games/ufoded
Icon=ufoded.xpm
Terminal=true
Type=Application
Categories=Application;Game;StrategyGame;
StartupNotify=false
