[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=UFORadiant
GenericName=Strategy Game
Comment=Map Editor for UFO: Alien Invasion
Exec=uforadiant
Icon=uforadiant.xpm
Terminal=false
Type=Application
Categories=Application;Game;StrategyGame;
StartupNotify=true
