<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
       uri = "http://ufoai.org/UFOScript"
       class = "net.sourceforge.ufoai.ufoScript.UfoScriptPackage"
       genModel = "net/sourceforge/ufoai/UFOScript.genmodel" />
  </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="map"
            icon="resources/icons/map.png"
            id="net.sourceforge.ufoai.editor.mapeditor"
            launcher="net.sourceforge.ufoai.editor.MapEditor"
            name="UFO:AI map editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sourceforge.ufoai.preferences.Preferences">
      </initializer>
   </extension>
     <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.ufoai.preferences.UFOAIPreferencesPage"
            id="net.sourceforge.ufoai.preferences.ufoai"
            name="UFO:AI">
      </page>
   </extension>
</plugin>
