<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
       uri = "http://ufoai.org/UFOScript"
       class = "net.sourceforge.ufoai.ufoScript.UfoScriptPackage"
       genModel = "net/sourceforge/ufoai/UFOScript.genmodel" />
  </extension>
</plugin>
